* {
  box-sizing: border-box;
}

.board-container {
  border: 1px solid red;
  top: 50%;
  width: 600px;
  height: 600px;
}

.whiteboard {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: relative;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: solid 2px black;
  margin: .2em;
}

.color.black { background-color: black; }
.color.brown { background-color: brown; }
.color.red { background-color: red; }
.color.orange { background-color: orange; }
.color.yellow { background-color: yellow; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.purple { background-color: purple; }